<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>Cops Near Me</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100%;
        height: 100vh;
      }
      .userpostchoice:active,
      .active {
        background-color: red;
        color: white;
      }
      .btn-check {
        display: none;
      }
      .btn-check:checked + .btn {
        background-color: #007bff;
        border-color: #007bff;
      }
      .additional-info {
        display: none;
      }
    </style>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1Ijoibm0zMzAyIiwiYSI6ImNsdWcwMnB4NDFzbWwya255c3RkdjA5bXMifQ.oA2RdHbCK_NE04O393GMUA";

      const bounds = [
        [-74.054487, 40.698474],
        [-73.864873, 40.875623], // Southwest coordinate// Northeast coordinates
      ];

      document.addEventListener("DOMContentLoaded", () => {
        const map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/streets-v11",
          center: [-73.974113, 40.781303],
          zoom: 10,
          maxBounds: bounds,
        });
        function clearMarkers() {
          // Remove all markers from the map
          document.querySelectorAll(".post-marker").forEach((marker) => {
            marker.remove();
          });
        }

        const genPosts = document.getElementById("modgen");

        genPosts.addEventListener("click", function () {
          $.ajax({
            type: "GET",
            url: "modgen",
            success: function (result) {
              console.log("sucess");
              clearMarkers();

              for (const locationId in result.locations) {
                if (Object.hasOwnProperty.call(result.locations, locationId)) {
                  const location = result.locations[locationId];

                  // Check if location data is valid
                  if (
                    !location ||
                    !location.location_name ||
                    !location.postlong ||
                    !location.postlat
                  ) {
                    console.error("Invalid location data:", location);
                    continue;
                  }

                  // Different color markers based on query
                  console.log(location.post_type);
                  let markerColor = "#FF0000";
                  if (location.post_type === "SUBWAY") {
                    markerColor = "#00FF00"; // green for no cops
                  } else if (location.post_type === "SIGHTING") {
                    markerColor = "#0000FF"; // blue
                  }

                  const postMarker = new mapboxgl.Marker({
                    color: markerColor,
                    draggable: false,
                  })
                    .setLngLat([location.postlong, location.postlat])
                    .addTo(map);
                  postMarker.getElement().classList.add("post-marker");

                  // Create a popup for the marker
                  const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                    `<h3>${location.location_name}</h3>` +
                      `<p>Description: ${location.description}</p>` +
                      `<p>Date Reported: ${location.date_reported}</p>` +
                      `<p>Date Resolved: ${location.date_resolved}</p>` +
                      (location.cop_number !== undefined
                        ? `<p> Number of Cops: ${location.cop_number}</p>`
                        : " ") +
                      (location.type_of_cop !== undefined
                        ? `<p>Type of Cops: ${location.type_of_cop}</p>`
                        : " ")
                  );
                  postMarker.setPopup(popup);
                }
              }
              //display data
              console.log(result);
            },
            error: function (request, status, error) {
              console.log("Error");
              console.log(request);
              console.log(status);
              console.log(error);
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-4">
          <div class="row">
            <button type="button" class="btn btn-outline-dark" id="modgen">
              Generate Posts
            </button>
          </div>
          <div class="row">
            <button
              type="button"
              class="btn btn-outline-dark"
              id="home"
              onclick="location.href='{{ url_for('userlocation') }}'"
            >
              Home
            </button>
          </div>
        </div>
        <div class="col-8">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </body>
</html>
