<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>Cops Near Me</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100%;
        height: 100vh;
      }
      .userpostchoice:active,
      .active {
        background-color: red;
        color: white;
      }
      .btn-check {
        display: none;
      }
      .btn-check:checked + .btn {
        background-color: #007bff;
        border-color: #007bff;
      }
      .additional-info {
        display: none;
      }
    </style>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1Ijoibm0zMzAyIiwiYSI6ImNsdWcwMnB4NDFzbWwya255c3RkdjA5bXMifQ.oA2RdHbCK_NE04O393GMUA";

      const bounds = [
        [-74.054487, 40.698474],
        [-73.864873, 40.875623], // Southwest coordinate// Northeast coordinates
      ];

      document.addEventListener("DOMContentLoaded", () => {
        const map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/streets-v11",
          center: [-73.974113, 40.781303],
          zoom: 10,
          maxBounds: bounds,
        });

        const usermarker = new mapboxgl.Marker({ draggable: true })
          .setLngLat([-73.974113, 40.781303])
          .addTo(map);

        function onDragEnd() {
          const lngLat = usermarker.getLngLat();
          console.log(`Longitude: ${lngLat.lng}, Latitude: ${lngLat.lat}`);
        }

        usermarker.on("dragend", onDragEnd);

        const sightingTypeRadios = document.querySelectorAll(
          'input[name="options"]'
        );
        const additionalInfoDiv = document.getElementById("additional-info");
        var Posttype = null;

        sightingTypeRadios.forEach((radio) => {
          radio.addEventListener("change", function () {
            if (this.value === "Subway") {
              additionalInfoDiv.innerHTML = ""; // Clear previous content
              // Add input for number of cops
              additionalInfoDiv.innerHTML =
                '<label for="numberOfCops">Number of Cops:</label>' +
                '<input type="number" id="numberOfCops" name="numberOfCops">' +
                '<div id="typeOfCops"></div>';
              additionalInfoDiv.style.display = "block";
              Posttype = "Subway"; // Show the additional info div
            } else if (this.value === "Sightings") {
              additionalInfoDiv.innerHTML = ""; // Clear previous content
              // Add input for number of cops and type of cops
              additionalInfoDiv.innerHTML =
                '<label for="numberOfCops">Number of Cops:</label>' +
                '<input type="number" id="numberOfCops" name="numberOfCops">' + '<br/>'+
                '<label for="typeOfCops">Type of Cops:</label>' + '<br/>'+
                '<input type="text" id="typeOfCops" name="typeOfCops">';
              additionalInfoDiv.style.display = "block";
              Posttype = "Sightings"; // Show the additional info div
            } else {
              additionalInfoDiv.innerHTML = ""; // Clear previous content
              additionalInfoDiv.style.display = "none"; // Hide the additional info div
            }
          });
        });

        const submitbutton = document.getElementById("submitButton");
        const errordiv = document.getElementById("error");

        submitButton.addEventListener("click", function () {
          if (!Posttype) {
            errordiv.innerHTML = "Please select a type of post";
            return;
          }
          const locationName = document.getElementById("postloc").value;
          const address = document.getElementById("postaddy").value;
          const description = document.getElementById("postdesc").value;
          const numberOfCops = document.getElementById("numberOfCops").value;
          const typeOfCops = document.getElementById("typeOfCops").value;

          if (numberOfCops === "") {
            errordiv.innerHTML = "Please enter a number of cops";
            return;
          } else if (Posttype === "Sightings" && typeOfCops === "") {
            errordiv.innerHTML = "Please enter a type of cop";
            return;
          } else {
            const data = {
              locationName: locationName,
              address: address,
              description: description,
              numberOfCops: numberOfCops,
              typeOfCops: typeOfCops,
            };

            $.ajax({
              type: "POST",
              url: "add_post",
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              success: function (result) {
                console.log("sucess");
                console.log(result);
              },
              error: function (request, status, error) {
                console.log("Error");
                console.log(request);
                console.log(status);
                console.log(error);
              },
            });
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div>
              Drag the marker to the location of the incident you are reporting
            </div>
          </div>
          <div class="row">
            <div id="error"></div>
          </div>
          <div class="row">Enter the location name (optional)</div>
          <div class="row">
            <input id="postloc" type="text" placeholder="Grand Central" />
          </div>
          <div class="row">Enter address (optional)</div>
          <div class="row">
            <input
              id="postaddy"
              type="text"
              placeholder="89 E 42nd St, New York, NY 10017"
            />
          </div>
          <div class="row">Description (optional)</div>
          <div class="row">
            <input
              id="postdesc"
              type="text"
              placeholder="cops giving out tickets"
            />
          </div>
          <div class="row">
            <div>Sighting or Subway?</div>
          </div>
          <div class="row">
            <input
              type="radio"
              class="btn-check"
              name="options"
              id="Subway"
              autocomplete="off"
              value="Subway"
            />
            <label class="btn btn-secondary" for="Subway">Subway Posts</label>
            <input
              type="radio"
              class="btn-check"
              name="options"
              id="Sightings"
              autocomplete="off"
              value="Sightings"
            />
            <label class="btn btn-secondary" for="Sightings"
              >Cop Sightings</label
            >
          </div>
          <div class="row" id="additional-info" class="additional-info">
            <!-- Additional input fields for number of cops and type of cops will be inserted here -->
          </div>
          <div class="row">
            <button
              type="button"
              class="btn btn-outline-dark"
              id="submitButton"
            >
              Submit
            </button>
          </div>
          <div class="row">
            <button
              type="button"
              class="btn btn-outline-dark"
              id="home"
              onclick="location.href='{{ url_for('userlocation') }}'"
            >
              Home
            </button>
          </div>
          
        </div>
        <div class="col-8">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </body>
</html>
