<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:," />
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>Cops Near Me</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map {
        width: 100%;
        height: 100%;
      }

      .userpostchoice:active,
      .active {
        background-color: red;
        color: white;
      }

      .btn-check {
        display: none;
      }

      .btn-check:checked + .btn {
        background-color: #007bff;
        border-color: #007bff;
      }
    </style>
  </head>
  <body>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1Ijoibm0zMzAyIiwiYSI6ImNsdWcwMnB4NDFzbWwya255c3RkdjA5bXMifQ.oA2RdHbCK_NE04O393GMUA";

      const bounds = [
        [-74.054487, 40.698474],
        [-73.864873, 40.875623], // Southwest coordinate// Northeast coordinates
      ];
      function clearMarkers() {
        // Remove all markers from the map
        document.querySelectorAll(".post-marker").forEach((marker) => {
          marker.remove();
        });
      }

      document.addEventListener("DOMContentLoaded", () => {
        const precinctButton = document.getElementById("Precinct");
        const noPrecinctButton = document.getElementById("noPrecinct");

        precinctButton.addEventListener("click", () => {
          // Toggle the 'active' class of the button
          precinctButton.classList.toggle("active");
          noPrecinctButton.classList.remove("active");
        });

        noPrecinctButton.addEventListener("click", () => {
          // Toggle the 'active' class of the button
          noPrecinctButton.classList.toggle("active");
          precinctButton.classList.remove("active");
        });

        const map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/streets-v11",
          center: [-73.974113, 40.781303],
          zoom: 10,
          maxBounds: bounds,
        });

        const usermarker = new mapboxgl.Marker({ draggable: true })
          .setLngLat([-73.974113, 40.781303])
          .addTo(map);

        function onDragEnd() {
          const lngLat = usermarker.getLngLat();
          console.log(`Longitude: ${lngLat.lng}, Latitude: ${lngLat.lat}`);
        }

        usermarker.on("dragend", onDragEnd);

        const usersearchButton = document.getElementById("usersearch");
        usersearchButton.addEventListener("click", () => {
          // Get radius value
          const radiusInput = document.getElementById("ukm").value;

          // Check if radius is a number
          if (isNaN(radiusInput) || radiusInput === "") {
            document.getElementById("error").textContent =
              "Please enter a valid number for the radius.";
            return;
          }

          // Check if a post button is checked
          const postButtons = document.querySelectorAll(".btn-check");
          let postType = "";
          postButtons.forEach((button) => {
            if (button.checked) {
              postType = button.id;
            }
          });
          if (!postType) {
            document.getElementById("error").textContent =
              "Please select a post type.";
            return;
          }

          let showPrecincts = precinctButton.classList.contains("active")
            ? true
            : false;
          console.log(showPrecincts);
          // Clear any previous error messages;
          document.getElementById("error").textContent = "";
          lngLat = usermarker.getLngLat();
          // Send radius and post type to the server
          const data = {
            radius: parseFloat(radiusInput),
            postType: postType,
            userlong: lngLat.lng,
            userlat: lngLat.lat,
            showPrecincts: showPrecincts,
          };

          $.ajax({
            type: "POST",
            url: "save_location",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (result) {
              console.log(result);
              clearMarkers();

              // Create new markers for each location returned in the results
              for (const locationId in result.locations) {
                if (Object.hasOwnProperty.call(result.locations, locationId)) {
                  const location = result.locations[locationId];

                  // Check if location data is valid
                  if (
                    !location ||
                    !location.location_name ||
                    !location.postlong ||
                    !location.postlat
                  ) {
                    console.error("Invalid location data:", location);
                    continue;
                  }

                  // Different color markers based on query
                  console.log(location.post_type);
                  let markerColor = "#FF0000"; // default
                  if (location.post_type === "SUBWAY") {
                    markerColor = "#00FF00"; // green for cops in the subway station
                  } else if (location.post_type === "SIGHTING") {
                    markerColor = "#0000FF"; // blue
                  } else if (location.post_type === 'SUBWAY_STATION') {
                    markerColor = "#FFFF00"; // yellow for just subway stations, no cops
                  }

                  const postMarker = new mapboxgl.Marker({
                    color: markerColor,
                    draggable: false,
                  })
                    .setLngLat([location.postlong, location.postlat])
                    .addTo(map);
                  postMarker.getElement().classList.add("post-marker");

                  // Create a popup for the marker
                  const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                    `<h3>${location.location_name}</h3>` +
                      `<p>Description: ${location.description}</p>` +
                      `<p>Date Reported: ${location.date_reported}</p>` +
                      `<p>Date Resolved: ${location.date_resolved}</p>` +
                      (location.cop_number !== undefined
                        ? `<p> Number of Cops: ${location.cop_number}</p>`
                        : " ") +
                      (location.type_of_cop !== undefined
                        ? `<p>Type of Cops: ${location.type_of_cop}</p>`
                        : " ")
                  );
                  postMarker.setPopup(popup);
                }
              }
            },
            error: function (request, status, error) {
              console.log("Error");
              console.log(request);
              console.log(status);
              console.log(error);
            },
          });
        });
      });
      // Add dragend event listener to the marker
    </script>

    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-4">
          <div class="container">
            <div class="row">
              <div>Cops Near Me</div>
            </div>
            <div class="row">
              To see police activity near you, drag the blue marker to your
              location. Then enter a radius in miles and the types of posts you
              want to view.
            </div>
            <div class="row">
              <div>Enter your desired radius in miles</div>
            </div>
            <div class="row">
              <div id="error"></div>
            </div>
            <div class="row">
              <input id="ukm" type="num" placeholder=".2" />
            </div>
            <div class="row">
              <div>Enter what type of posts you want to view</div>
            </div>
            <div class="row">
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="Subway"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="Subway">Subway Posts</label>
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="Sighting"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="Sighting"
                >Cop Sightings</label
              >
              <input
                type="radio"
                class="btn-check"
                name="options"
                id="Post"
                autocomplete="off"
              />
              <label class="btn btn-secondary" for="Post">All Posts</label>
            </div>
            <div class="row">
              <input
                type="radio"
                class=""
                name="o"
                id="Precinct"
                autocomplete="off"
              />
              <label class="" for="Precinct">Show precincts</label>
              <input
                type="radio"
                class=""
                name="o"
                id="noPrecinct"
                autocomplete="off"
              />
              <label class="" for="noPrecinct">Don't show precincts</label>
            </div>
            <div class="row">
              <button
                type="button"
                class="btn btn-outline-dark"
                id="usersearch"
              >
                Submit
              </button>
            </div>
            <div class="row">
              <button
                type="button"
                class="btn btn-outline-dark"
                id="useradd"
                onclick="location.href='{{ url_for('add_location') }}'"
              >
                Add a post
              </button>
            </div>
            <div class="row">
              <button
                type="button"
                class="btn btn-outline-dark"
                id="mod"
                onclick="location.href='{{ url_for('modcheck') }}'"
              >
                Moderator access
              </button>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </body>
</html>
